*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
}

#root {
	width: 100%
}

.main_container {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

.status {
	font-size: 1.2em;
	padding: 5em 0 1em 0;
	text-align: center
}

.test_stand_list {
	display: block;
	width: 80%;
	margin: .5em auto;
	height: 100%;
	border: 3px solid black;
	padding: .5em 1em
}

.title_list {
	display: flex;
	width: 100%;
	border-bottom: 3px solid black;
	margin-bottom: 5px
}

.stand {
	display: flex;
	width: 100%;
	margin: .1em 0
}

.stand-name {
	display: flex;
	width: 13%;
	min-width: 200px;
	align-items: center;
	justify-content: flex-start
}

.stand-branch {
	display: flex;
	width: 72%;
	align-items: center;
	justify-content: flex-start;
	padding: 0 1em
}

.stand-branch > div {
	width: 90%;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

.stand-branch>img {
	height: 30px
}

.stand-controls {
	display: flex;
    width: 15%;
	min-width: 200px;
	align-items: center;
	justify-content: center
}

.stand-controls > div {
    width: 15%;
}

.stand-controls > div > button {
    width: 100%;
}

input {
	width: 100%;
	padding: 2px 4px;
	outline: 0
}

button {
	display: flex;
	width: 42%;
	height: 2.4em;
	background-color: white;
	outline: 0;
	cursor: pointer;
	border: 3px solid black;
	margin-right: -3px;
	justify-content: center;
	align-items: auto
}

button:active {
	box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset
}

button>img {
	display: block;
	width: 18%;
	margin: auto
}

button:disabled,
button[disabled],
button:disabled:active,
button[disabled]:active {
	background-color: #b0aeae;
	color: #787777;
	box-shadow: none
}

.btn-green {
	background-color: #8df0ab
}

.spoilers {
	display: none;
	width: 80%;
	margin: auto
}

.spoiler-trigger {
	color: #0b70db;
	text-decoration: none;
	padding-left: 15px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8hiJ0TaQrwuY2kDNINwnmcKLchO5LuHWEwgkAlO5FBwhFaI8AAAAASUVORK5CYII=) no-repeat 0 50%
}

.spoiler-trigger.active {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKklEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8DRRhcxvIGTSyjqDvCIUTAEcINQcERZkIAAAAAElFTkSuQmCC)
}

.spoiler-trigger>span {
	border-bottom: 1px dashed #0b70db;
	padding: 0 3px
}

.spoiler-trigger:hover>span {
	border-bottom-style: solid
}

.spoiler-block {
	display: none;
	border: 1px solid black;
	padding: 1em 2em;
	width: 60%
}

.route {
	color: #018db4;
	font-weight: bold;
	font-style: italic
}

.dropdown__container {
    position: relative;
}

.dropdown__container > ul {
    position: absolute;
    min-width: 150px;
    right: 0;
    z-index: 9999;
    background: rgba(255,255,255,0.9);
    border: 3px solid black;
    padding: 3px 4px;
    list-style: none;
    margin-top: -3px;
}

.dropdown__container > ul > li {
    white-space: nowrap;
    cursor: pointer;
    transition-duration: 0.5s;
    user-select: none;
}

.dropdown__container > ul > li:hover {
    margin-left: 2px;
}