body {
  margin: 0;
}

.page {
  &__stands {
    // max-width: 1000px;
    // margin: 0px auto;
  }
}

.stands {
  &__btn {

  }
  &__branch-link {
    &:visited {
      color: var(--purple-300) !important;
    }
  }
}

.stand {
  &__cell {
    display: flex;
    align-items: center;
    height: 39px;
    box-sizing: border-box;
  }
  &__input::placeholder {
    color: var(--surface-200);
  }
  &__buttonset {
    margin-left: auto;
  }
}
.p-autocomplete.hidden-element,
.hidden-element {
  display: none;
}