body {
  margin: 0;
}

.page {
  &__stands {
  }
}

.stands {
  &__btn {
  }
  &__branch-link {
    &:visited {
      color: var(--purple-300) !important;
    }
  }
}

.stand {
  &__row {
    position: relative;
  }
  &__control {
    width: 67%;
    
  }
  &__cell {
    display: flex;
    align-items: center;
    height: 39px;
    box-sizing: border-box;
  }
  &__input::placeholder {
    color: var(--surface-200);
  }
  &__buttonset {
    margin-left: auto;
  }
}

.p-autocomplete.hidden-element,
.hidden-element {
  display: none;
}

.preloader {
  height: 100%;
  &__ground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(#ce93d8, .35);
  }
  &__image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 25px;
    z-index: 10;
  }
}